@font-face {
    font-family: "formula";
    src: url(../font/formula.ttf);
  }
/* .container-head{
    padding: 20px;
    display: flex;
    width: 98%;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
} */
.container-body{
    padding: 20px;
    width: 240px;
    height: 800px;
}

.card-bnb{
    width: 250px;
    height: 215px;
    background-color: #D0F4DA;
    border-radius: 20px;
    align-items: center;
    font-family: formula;
}

.card-btc{
    width: 250px;
    height: 215px;
    background-color: #FEEAF3;
    border-radius: 20px;
    align-items: center;
    font-family: formula;
}

.card-sol{
    width: 250px;
    height: 215px;
    background-color:  #D0F4DA;
    border-radius: 20px;
    align-items: center;
    font-family: formula;
}

.card-eth{
    width: 250px;
    height: 215px;
    background-color: #D0F4DA;
    border-radius: 20px;
    align-items: center;
    font-family: formula;
}

.card-chat{
    width: 250x;
    height:445px;
    background-color: #FFF6E9;
    border-radius: 20px;
    align-items: center;
    font-family: formula;
}

.buble-chat{
    width: 16rem;
    padding-left: 60px;
}

.chat-share{
    width: 205px;
}

.icon-chat-bawah{
    width: 40px;
    background-color: yellow;
    text-align: center;
    justify-content: center;
}

.icon-chat{
    width: 25px;
    height: 25px;
}


.img-bnb{
    padding-top: 13px;
    padding-left: 10px;
    width: 30px;
    height: 30px;
}

.text-dolar{
    padding-top: 8px;
    padding-left: 8px;
    font-weight: bold;
    font-weight: 500;
    padding-bottom: 190px;
}

.img-trade{
    padding-left: 80px;
    width: 150px;
}

.text-bnb-usd{
    padding-top: 10px;
    padding-left: 3px;
    font-weight: bold;
}

.button-card{
    background: aqua;
    width: 60px;
    height: 20px;
    font-size: xx-small;
    border: none;
}

.button-card-btc{
    background: papayawhip;
    width: 60px;
    height: 20px;
    font-size: xx-small;
    border: none;
}




